body{
    background-color: rgb(68, 67, 67);
}
header{
    width: 100%;
    height:100vh;
    background-image: url(../img-cafeteria/header_inicio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}
header::before{
background-color: #000;
content: "";
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
opacity: 0.5;
}
.barra{
    width: 80%;
    height: 40vh;
    display: flex;
    position: relative;
}
.menu{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    position: relative;
    align-items: center;
}
a{
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}
.inicio{
    color: rgb(230, 183, 65);

}
.titulo{
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    position: relative;
}
.logo1{

}